<div class="jumbotron">
    <div class="container">
        <img src="<%= asset_path "photo.jpg" %>" />
        <div style="background-image:url(<%= asset_path "photo.jpg" %>)" />
        </div>
    </div>
</div>